
html, body {
    height: 500px;
    width: 700px;
    margin: 0;
}

#popup {
    margin: 0;
    height: 500px;
    width: 700px;
    background-color: rgb(29, 29, 29);
}

.App {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App .todo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.App .todo .task {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(56, 56, 56);
    width: 80%;
    height: 30%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
    border: 2px solid rgb(32, 32, 32);
    color: rgb(236, 236, 236);
    font-size: 1rem;
}

.App .todo .task-open {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(56, 56, 56);
    width: 80%;
    min-height: max-content;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
    border: 2px solid rgb(32, 32, 32);
    color: rgb(236, 236, 236);
    font-size: 1rem;
}

.App .todo .t-title {
    background-color: rgb(83, 83, 83);
    border: 2px solid rgb(32, 32, 32);
    border-radius: 1.5rem;
    width: fit-content;
    padding: 0 5% 0 5%;
    margin: 0% 0% 2% 0%;
}

.App .todo .t-desc {
    display: flex;
    justify-items: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    background-color: rgba(43, 43, 43, 0.87);
    border-radius: 1rem;
    padding: 2%;
    margin: 2% 0% 0% 0%;
}

.App .todo .t-desc-open {
    max-width: 70%;
    background-color: rgba(43, 43, 43, 0.87);
    border-radius: 1rem;
    padding: 2%;
    margin: 2% 0% 0% 0%;
}

.App .todo .t-time-table {
    display: flex;
    justify-content: center;
    box-shadow: 0rem 0rem 1rem rgb(5, 5, 5, 0.342) inset;
    padding: 2% 0% 2% 0%;
    width: 70%;
    border-radius: 1rem;
}

.App .todo .task-open .t-time-table { 
    display: flex;
    justify-content: center;
    box-shadow: 0rem 0rem 1rem rgba(5, 5, 5, 0.342) inset;
    padding: 2% 0% 2% 0%;
    width: 72%;
    border-radius: 1rem;
}

.App .todo .t-time-table .t-time {
    margin: 0;
    font-size: 1rem;
}

.App .todo .t-time-table .t-time .exp {
    margin: 0;
    font-size: 1rem;
}

.App .todo .t-time-table .t-time .t-deadline {
    margin: 0;
    font-size: 1rem;
} 